a {
	text-decoration: none;
}

#insertbox  {
	float: left;
	background-color: #ccc;
	border-radius: 20px;
	margin-left: 5px;
	padding-left: 8px;
	padding-top: 8px;
	width: 15%;
	height: 95%;
}

#main {
	overflow: auto;
	float: right;
	border: 1px solid #ccc;
	border-radius: 20px;
	width: 83%;
	height: 97%;
}
.draggable { 
	border: 1px solid #bbb;
	position: relative;
	width: intrinsic;
	width: -moz-max-content;
	height: auto; 
	padding: 0.5em; 
}