/* CSS declarations go here */

body {
	font-family: arial;
	background-color: #ccc;
}	

a {
	margin-right: 8px;
	text-decoration: none;
}

img {
	max-width: 500px;
	max-height: 500px;
	overflow: auto;
}

#insertbox  {
	position:absolute;
	top:0px;
	left:0px;
	background-color: #333;
	padding: 8px;
	width: 100%;
	height: 10%;
}

#main {
	position:absolute;
	top:8%;
	margin: 4px;
	overflow: auto;
	border: 1px solid #aaa;
	border-radius: 4px;
	width: 75%;
	height: 650px;
}

#main:before {
	content: url("http://lorempixel.com/1000/1000");
	opacity:0.5;
	background: url("http://lorempixel.com/1000/1000");
}


#chat {
	position: absolute;
	top:9%;
	overflow: auto;
	border: 1px solid #aaa;
	background-color: #eee;
	border-radius: 4px;
	width: 20%;
	right: 2%;
	height: 650px;
}

#entry {
	width: 80%;
	padding: 2px;
}

.add {
}

.draggable { 
	background: #fff;
	border: 1px solid #bbb;
	width: intrinsic;
	width: -moz-max-content;
	height: auto; 
	padding: 0.5em;
	border-radius: 2px;
	overflow: auto; 
}

.delete {
	position: absolute;
	top: 2px;
	right: 2px;
	border: 1px solid #333;
	font-color: #fff;
	background-color: #ccc;
	width: 10px;
	height: 10px;
	font-size: 8px;
	text-align: center;
	border-radius: 10px;
}

.messageview {
	margin: 2px;
}

.owner {
	font-size:8pt;
	font-color:#ccc;
}
