/* CSS declarations go here */

input {
	width: auto;
}

a {
	text-decoration: none;
}

#insertbox  {
	float: left;
	background-color: #ccc;
	border-radius: 20px;
	margin-left: 5px;
	padding-left: 8px;
	padding-top: 8px;
	width: 15%;
	height: 95%;
}

#main {
	float: right;
	overflow: auto;
	right: 0px;
	position: absolute;
	border: 1px solid #ccc;
	border-radius: 20px;
	width: 83%;
	height: 97%;
}
.draggable { 
	border: 1px solid #bbb;
	width: intrinsic;
	height: auto; 
	padding: 0.5em; 
}
